:root{
    --salmon:salmon;
    --dsalmon:#442420;
    --cyan:#b6e6e7;
    --dcyan:#0f1616;
    --white:#fff;
    --black:#000;
}


::selection{
    background-color: var(--salmon);
}

body[theme='black']{
    background-color:var(--black)
}
body[theme='black'] .section{
    color: var(--white)
}
body[theme='cyan']{
    background-color:var(--cyan);
}

body[theme='cyan'] .section{
    color: var(--dcyan)
}

body[theme='salmon']{
    background-color: var(--salmon)
}
body[theme='salmon'] section{
    color: var(--dsalmon);
}

body[theme='white']{
    background-color: var(--white);
}
body[theme='white'] .section{
    color:var(--black)
}